
@media only screen and (min-width: 320px) and (max-width: 768px) {
	.wrapper{ width:94%; padding:3%;}
	.header-top{ width:100%; padding:0px;}
	h1#logo{ width:100%; float:none; margin:0px;}
	h1#logo img {
    width: 100%;
}
	.quick-access{ float: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;}
	
	.mini-search{background: none repeat scroll 0 0 #000;
    height: auto;
    padding: 4% 2%;
    width: 100%; position:relative}
	
	#search_mini_form{ float:left;}
	.header-nav{ width:100%}
	.middle{ width:100%; padding:0%;}
	.col-2-right-layout .col-main{ width:100%; float:none}
	.home-spot{ width:auto; margin:0px; padding:0px;}
	.shop-access {
    float: left;
    margin-bottom: 6px;
    text-align: left;
    width: 100%;
}

.home-callout{ display:block}
.colourred{ width:94%; padding:3%;}
#homecolourboxes{ width:300px; padding:0px;}
.slider{ width:100%;}
.slider img{ width:100%;}
.side-col{ width:100%; float:none}
.footer{ width:100%}
#sitemap ul{ width:48%; float:left; margin:10px 0px 0px 0px;}
#sitemap{ padding:0px;}
.base-mini{ float:left}
.base-mini .head{ float:left}
.side-col .content{ float:left}
#homepageright {
    padding: 0px;
    width: 300px;
}
.base-mini {
    float: left;
    width: 100%;
}
.base-mini .head {
    float: left;
    padding: 2%;
    width: 95%;
}
.base-mini .content, .base-mini ol {
    background: none repeat scroll 0 0 #f8f7f5;
    padding: 2%;
    width: 96%;
}
#sidebarboxes{ width:100%;}
.colourgold6 {
 padding: 2%;
    width: 96%;
}
.wrapper { min-width:inherit;
}
.col-3-layout .col-main{ width:100%; margin:0px;}
.catalog-category-view .col-main p img{ width:100%}

.listing-type-grid li.item {
    border: 1px solid #ccc;
    margin: 1%;
    padding: 2px;
    width: 46%;
}
.listing-type-grid{ background:none}
.colourgold1{ width:96%; padding:2%; background-position:right;}
.colourgold2 { width:96%; padding:2%; background-position:right;}
#sidebarboxes img{ text-align:center} 
.breadcrumbs{ padding:7px 0px 0px 0px;}
.product-essential .product-shop{ width:auto}
.shopping-cart-collaterals {
    float: left;
    padding: 25px 0;
    width: 100%;
}
.shopping-cart-collaterals .col2-set .col-1, .col2-set .col-2{ width:100%; float:none}

#checkout-step-login .col2-set .col-1, .col2-set .col-2{ float:none; width:100%}
#login-form .col2-set .col-1, .col2-set .col-2{ float:none; width:100%}
.checkout-cart-index form .shopping-cart{   display: block;
    overflow: scroll;
    width: 320px; 
}
.dashboard-welcome{ padding:0px; margin:0px;}
.account-box{ padding:4px;}
.customer-account-index .col2-set .col-1, .col2-set .col-2{ width:auto; float:none}
 .col-2-left-layout .col-main{ float:none; width:auto;}
 .group-select{ padding:2px;}
 .group-select li .input-text, .group-select li select, .group-select li textarea{ width:auto}
@media only screen and (min-width: 768px)  {
	
h1#logo img {
    width: auto;
}
	h1#logo{ width: auto; float:left; margin:0px;}
	
		.mini-search{background: none repeat scroll 0 0 #000;
    height: auto;
    padding: 4% 2%;
    width: auto; position:relative; float:right; margin:8px 0px 0px 0px;}
	
#search_mini_form {
    float: right;
}
#homepageright {
    padding: 15px;
    width: 300px;
}
#homecolourboxes{padding: 15px;
    width: 300px;}
	#sitemap ul {
    float: left;
    margin: 10px 0 0;
    width: 32%;
}
}
