/* http://www.fontsquirrel.com / 2015-01-12 08:45 AM Europe/Brussels */

@font-face {
    font-family: 'Slabo 27px';
    src: url('../fonts/slabo27px-regular-webfont.eot');
    src: url('../fonts/slabo27px-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/slabo27px-regular-webfont.woff2') format('woff2'),
         url('../fonts/slabo27px-regular-webfont.woff') format('woff'),
         url('../fonts/slabo27px-regular-webfont.ttf') format('truetype'),
         url('../fonts/slabo27px-regular-webfont.svg#slabo_27pxregular') format('svg');
    font-weight: normal;
    font-style: normal;
}