        legend {
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2rem;
        }


/* SEARCH A HELPER */


form#search-helper {

    // request type

    fieldset.request__type {

        ul.request__type--selected {
            text-align: center;

            li {
                text-align: left;
            }
        }


        ul.request__type--reserve {
            text-align: center;

            a {
                text-decoration: none;
            }
        }

        // plus & minus (add & delete) buttons

        a.request-delete {
            font: 0/0 a;
            text-decoration: none;
            color: red;

            &::before {
                content:'-';
                font: 1.6rem/1.5 $font-stack;
                text-align: center;
            }

            &::after {
                font: 1.6rem/1.5 $font-stack;
            }

            &:hover::after,
            &:focus::after {
                content:'delete';
            }
        }

        a.request-add {
            text-decoration: none;
            font: 1.6rem/2 $font-stack;
            text-align: center;

            &::before {
                content:'+';
                font: 1.6rem/1.5 $font-stack;
                text-align: center;
            }
        }

        fieldset.request__type--sub {
            text-align: center;

            a {
                text-decoration: none;
            }
        }
    }
    
    // optional search

    .search__optional {

        // geolocation
        .search__optional--geo {

            a.geo-detect {
                text-decoration: none;
                font: 1.6rem/2.5 $font-stack;
                text-align: center;

                &::before {
                    content:'•••';
                    font: 1.6rem/1.5 $font-stack;
                    text-align: center;
                }
            }

            [for="location"] {
                text-align: center;

                input {
                    text-align: center;
                }
            }

            .geo-town {
                text-align: center;
            }

            @include mq(l) {
                text-align: center;
            }
        }

        // transport method
        .search__optional--transport {

            fieldset {
                text-align: center;
            }

            p {
                text-align: center;
            }

            .sub-legend {
                text-transform: none;
                text-align: left;
                font-weight: normal;

                @include mq(m) {
                    text-align: center;
                }
            }

            label[for^='transport'] {
                text-align: center;
            }

            [type="checkbox"] {

                &::after {
                    content:'No';
                    text-align: center;
                    text-transform: uppercase;
                    font-family: $font-stack-head;
                    color: darken($color-no,60%);
                }

                &:checked::after {
                    content:'Yes';
                    color: darken($color-yes,60%);
                }
            }
        }

    }
    button {
        line-height: 2.5;
    }
}

form.login {
    text-align: center;
}