fieldset {
    margin: $space-s;
    padding-left: 0;
    padding-right: 0;
    // border: 0;
}

button {
    margin: 0 auto;
    display: block;
    width: 15em;
}

label {
    display: block;
    width: 100%;
}

/* SEARCH FORM(S) */

// general  form

form.search {

    margin-bottom: $space-s*2;
}

/* SEARCH A HELPER */

form#search-helper {



    // request type

    fieldset.request__type {

        margin-bottom: $space-s*5;

        ul.request__type--selected {
            padding: $space-s;
            list-style-type: none;
            margin-bottom: $space-s * 5;

            li {
                margin: 1em 0;
                padding: .25em .5em;
                border: 1px dotted $text-color;

                @include mq(m) {
                    width: 48%;
                    float: left;
                    margin-right: 2%;
                    border: 1px dotted $text-color; 
                }

                @include mq(l) {
                    width: 31%;
                    margin-right: 1em;
                }
            }

            @include mq (m) {
                margin-bottom: 0;
                padding-bottom: 0;
                width: 100%;
            }
        }

        ul.request__type--reserve {
            padding: 0;
            clear: both;

            a {
                display: block;
                margin: .25em;
                border: 1px solid $text-color;
                width: 8em;
                height: 3.5em;
                float: left;
                padding: .25em;
            }

            li {
                display: inline-block;
            }
        }

        fieldset.request__type--sub {

            ul {
                padding: 0;
            }

            a {
                display: block;
                margin: .25em;
                border: 1px solid $text-color;
                width: 8em;
                height: 3.5em;
                float: left;
                padding: .25em;

                &.return {
                    font: 0/0 a;
                    border: none;
                    margin: auto;
                    float: none;

                    &::after {
                        content: '←';
                        display: block;
                        width: 4em;
                        height: 2.5em;
                        font: 1.6rem/1.5 $font-stack;
                        padding: .25em;
                        border: 1px solid $text-color;
                    }
                }
            }

            li {
                display: inline-block;
            }
        }

        // plus & minus (add & delete) buttons

        a.request-delete {
            position: relative;
            float: right;

            &::before {
                border: 1px solid $form-delete;
                padding: 0 .3em;
            }

            &:hover::after {
                position: absolute;
                right: 2em;
            }
        }

        a.request-add {
            position: relative;
            border: 1px dashed $text-color;
            display: block;
            margin: 0 auto;
            padding: 0 .25em;

            &::before {
                border: none;
                padding: 0 .5em 0 0;
            }

            @include mq(m) {
                display: inline-block;
                width: 48%;
                float: left;
                margin: 1em 0;
            }

            @include mq(l) {
                width: 31%;
                // vertical-align: top;
            }
        }
    }
    
    // optional search

    .search__optional {

        border: 1px solid $text-color;
        margin-bottom: $space-s*2;
        width: 100%;

        @include mq(l) {
            padding-bottom: 1px;
        }

        fieldset {
            margin-bottom: $space-s*5;
            border: 0;
            margin: auto;

            @include mq(l) {
                width: 48%;
                float: left;
                margin: 1%;
            }
        }

        .search__optional--geo {

            a.geo-detect {
                position: relative;
                border: 1px dashed $text-color;
                display: block;
                margin: $space-s*2 auto 0;
                padding: 0 .5em;

                &::before {
                    border: none;
                    padding: 0 .5em 0 0;
                }

                @include mq(m) {
                    width: 48%;
                    display: inline-block;
                    border: 1px dotted $text-color;
                    vertical-align: top;
                }

                @include mq(l) {
                    width: 33%;
                    margin: 1em;
                }
            }

            [for="location"] {
                margin: 1em auto;

                input {
                    width: 100%;
                    height: 2em;
                    padding: 0 .5em;
                }

                @include mq(m) {
                    width: 48%;
                    display: inline-block;
                }

                @include mq(l) {
                    width: 33%;
                    margin-right: 1em;
                }
            }

            .geo-town {
                display: block;
            }

            .googlemap {
                margin: 1em auto;
                width: 100%;
            }
        }

        .search__optional--transport {
            margin-bottom: $space-s*0;

            fieldset {
                margin-bottom: $space-s*0;

                @include mq(m) {
                    padding: .25em;
                    width: 48%;
                    display: inline-block;
                    vertical-align: top;
                }
            }

            label[for^='transport'] {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                margin: .25em;
                border: 1px solid $text-color;
                width: 8em;
                height: 7em;
                // float: left;
                padding: .25em;
                z-index: 1; // required for checkbox background

                &:hover,
                &:focus {
                    border-width: 2px;
                }

                // &:active {
                //     border-width: 2px;
                // }
            }

            [type="checkbox"] {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1; // required for checkbox background

                &::after {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: $color-no;
                    padding-top: 5em;
                }

                &:checked::after {
                    background: $color-yes;
                }
            }

            li {
                display: inline-block;
            }
        }
    }
}

/* WRITE REQUEST + REGISTER */

form.login {

}

form.register {

}