/* PROTOTYPE */

fieldset {
    background: $bg-box;
}


/* GENERAL LAYOUT */

body {
    max-width: $bp-m;
    padding: $space-s/2;
    margin: 0 auto;
    border: 1px dotted #ddd;
}

img {
    background-image: $img-gradient;
    // max-width: 100%;
    // height: auto;
}

ul {
    // padding: 0;
    // list-style-type: none;
}

.none {
    display: none !important;
}


.switch {
    display: block;
    margin: $space-s;

    &::before {
        display: inline-block;
        margin-right: .5em;
    }
}