/* PROTOTYPE */

fieldset {
    background: $bg-box;
}

.helpers__list {
    background: $bg-box;
}


/* GENERAL LAYOUT */

body {
    padding: $space-s/2;
    margin: 0 auto;
    border: 1px dotted #ddd;
    // min-height: 100vh;

        &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        background: $bg-body-color $bg-body repeat;
        z-index: -1;
        opacity: .05;
    }
}

header,
main,
footer {
    max-width: $bp-xl;
    margin: auto;
}

main {
    padding-top: 1em;
    padding-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    // padding: 0;
    // list-style-type: none;
}

.none {
    display: none !important;
}


.switch {
    display: block;

    &::before {
        display: inline-block;
        margin-right: .5em;
    }
}

.overlay {
    position: fixed;
    overflow-y: auto;
    border: 3px solid $text-color;
    top: $space-s*2;
    left: $space-s*2;
    right: $space-s*2;
    background: rgba($bg-color,.97);
    padding: 1em .25em;
}