a.social-sprite{
    font: 0/0 a;
}

a.social-sprite{
    display: block;
    padding: 28px;
    background-image: url("../img/spice-social-gadget-sprite-extended.png");
    background-size: 1200% auto;
}

// .facebook{
//     background-position: 0% top;
// }

// .flickr{
//  background-position: 9.0909% top;
// }

// .dribbble{
//  background-position: 18.1818% top;
// }

// .gplus{
//  background-position: 27.2727% top;
// }

// .linkedin{
//     background-position: 36.3636% top;
// }

// .pint{
//  background-position: 45.4545% top;
// }

// .rss{
//  background-position: 54.5454% top;
// }

// .skype{
//  background-position: 63.6363% top;
// }

// .twitter{
//     background-position: 72.7272% top;
// }

// .vimeo{
//  background-position: 81.8181% top;
// }

// .youtube{
//  background-position: 90.909% top;
// }

// .behance{
//     background-position: 100% top;
// }

// .facebook:hover{
//     background-position: 0% center;
// }

// .flickr:hover{
//  background-position: 9.0909% center;
// }

// .dribbble:hover{
//  background-position: 18.1818% center;
// }

// .gplus:hover{
//  background-position: 27.2727% center;
// }

// .linkedin:hover{
//     background-position: 36.3636% center;
// }

// .pint:hover{
//  background-position: 45.4545% center;
// }

// .rss:hover{
//  background-position: 54.5454% center;
// }

// .skype:hover{
//  background-position: 63.6363% center;
// }

// .twitter:hover{
//     background-position: 72.7272% center;
// }

// .vimeo:hover{
//  background-position: 81.8181% center;
// }

// .youtube:hover{
//  background-position: 90.909% center;
// }

// .behance:hover{
//     background-position: 100% center;
// }

// .facebook:active{
//     background-position: 0% bottom;
// }

// .flickr:active{
//  background-position: 9.0909% bottom;
// }

// .dribbble:active{
//  background-position: 18.1818% bottom;
// }

// .gplus:active{
//  background-position: 27.2727% bottom;
// }

// .linkedin:active{
//     background-position: 36.3636% bottom;
// }

// .pint:active{
//  background-position: 45.4545% bottom;
// }

// .rss:active{
//  background-position: 54.5454% bottom;
// }

// .skype:active{
//  background-position: 63.6363% bottom;
// }

// .twitter:active{
//     background-position: 72.7272% bottom;
// }

// .vimeo:active{
//  background-position: 81.8181% bottom;
// }

// .youtube:active{
//  background-position: 90.909% bottom;
// }

// .behance:active{
//     background-position: 100% bottom;
// }