/* FONT-STACK */

$font-stack: Georgia, 'Times New Roman', serif;
$font-stack-head: Helvetica, Arial, sans-serif;

/* BREAKPOINTS & SPACERS */

// check http://responsivedesign.is/develop/getting-started-with-sass

$bp-s: 32em; // 32 * 16px = 512px
$bp-m: 48em; // 48 * 16px = 768px
$bp-l: 64em; // 64 * 16px = 1024 px
$bp-xl: 80em; // 80 * 16px = 1280 px

@mixin mq($size) { // summon me with: @include mq-s {}
  @if $size == s {
    @media screen and (min-width: $bp-s) {
      @content; 
    }
  }

  @else if $size == m {
    @media screen and (min-width: $bp-m) {
      @content; 
    }
  }
}

@mixin mq-m { // summon me with: @include mq-m {}
  @media screen and (min-width: $bp-m) {
    @content; 
  }
}

@mixin mq-l { // summon me with: @include mq-l {}
  @media screen and (min-width: $bp-l) {
    @content; 
  }
}

@mixin mq-xl { // summon me with: @include mq-xl {}
  @media screen and (min-width: $bp-xl) {
    @content; 
  }
}

$space-s: 8px;
// $space-m: 8px;
// $space-l: 8px;
// $space-xl: 8px;

/* COLORS GENERAL */

$text-color: #555;
$bg-color: #fff;
$link-color: #000;
$headline-color: #333;

/* PROTOTYPE COLORS */

$bg-box: #f1f1f1;
$bg-line: #ddd;
$img-gradient: linear-gradient(to bottom right, transparent 0%, transparent 49%, $bg-line 49%,$bg-line 51%, transparent 51%, transparent 100%),linear-gradient(to bottom left, transparent 0%, transparent 49%, $bg-line 49%,$bg-line 51%, transparent 51%, transparent 100%);
$form-delete: red;
$color-no: #ffcec4;
$color-yes: #edffc4;

/* HEADLINES */



/* LINKS */

$link-on: #000;
$link-active: #888;

/* NAV */



/* SHADOWS */

$shadow-s: 0 5px 11px 0px lighten($text-color,10%);