.helpers__list {
    list-style-type: none;

    .helper {
        h3,
        h4 {
            text-transform: none;
            text-align: left;
        }

        h4 {
            font-weight: normal;
        }

        a.helper__ask {
            text-decoration: none;
            text-align: center;
        }

        .rating {
            text-transform: uppercase;

            &::after {
                vertical-align: bottom;
                content:'';
            }

            &.rating--bad {
                color: darken($color-no,60%);

                // &.rating--1 {

                //     &::after {
                //         background: darken($color-no,60%);
                //     }
                // }

                // &.rating--2 {

                //     &::after {
                //         background: linear-gradient(to right, transparent 0%, transparent 74%, $link-color 74%, $link-color 76%, transparent 76%, transparent 100%), linear-gradient(to left, $color-yes 0%, darken(rgba($color-yes,.75),60%) 25%, darken($color-no,60%) 25%, darken($color-no,60%) 60%, transparent 75%);
                //     }
                // }
            }

            &.rating--good {
                color: darken($color-yes,60%);

                // &.rating--3 {

                //     &::after {
                //         background: linear-gradient(to right, darken($color-yes,60%) 50%, darken($color-yes,60%) 65%, transparent 90%);
                //     }
                // }

                // &.rating--4 {

                //     &::after {
                //         background: darken($color-yes,60%);
                //     }
                // }
            }

            &.rating--average {
                color: darken($color-average,20%);

                // &::after {
                //     background: $color-average;
                // }
            }
        }
    }

    .helper--pro {

    }

    .location__town {

        a.map-pin {
            vertical-align: baseline;
        }
    }

    .requested {
        list-style-type: none;
        text-align: center;

        li {
            font-family: $font-stack-head;
            line-height: 2;
            margin-right: 1em;

            &::before {
                margin-right: .25em;
            }
        }
    }

    .requested-no {

        li {

            &::before {
                content: 'x ';
                color: darken($color-no,10%);
            }
        }
    }

    .requested-yes {

        li {

            &::before {
                content: 'v ';
                color: darken($color-yes,40%);
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}